{% extends "base.html" %}
{% block content %}
<form method="post" class="card narrow">
  <h1>{{ 'Create an account' if mode == 'register' else 'Log in' }}</h1>
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
  {% if mode == 'register' %}
    <label>Name <input name="name" maxlength="100" required value="{{ request.form.name }}"></label>
  {% endif %}
  <label>Email <input type="email" name="email" maxlength="254" required value="{{ request.form.email }}"></label>
  <label>Password <input type="password" name="password" required {% if mode == 'register' %}minlength="10"{% endif %} maxlength="128"></label>
  {% if mode == 'register' %}
    <fieldset><legend>I want to</legend>
      <label><input type="radio" name="role" value="customer" checked> Shop</label>
      <label><input type="radio" name="role" value="seller"> Sell</label>
    </fieldset>
  {% endif %}
  <button>{{ 'Sign up' if mode == 'register' else 'Log in' }}</button>
</form>
{% endblock %}
