Django~=5.0
djangorestframework
channels
channels-redis~=4.2
psycopg[binary]
redis
celery
boto3
django-storages
pillow
python-dotenv
argon2-cffi
django-cors-headers
djangorestframework-simplejwt
django-filter
drf-spectacular
django-ratelimit
requests
pydantic
prometheus-client
django-prometheus
daphne
